// Colors
$main-color: #000;
$main-bg-color: #ccc;

// Fonts
@font-face {
  font-family: 'Kanit-Italic';
  src: url('../../fonts/Kanit/Kanit-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
$font-main: 'Kanit', sans-serif;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Other
$transition: all 0.3s ease;
